### frontend ###
# dependencies
node_modules/

### VS Code ###
.vscode/*
!.vscode/settings.json

### backend ###
# gradle
/backend/.gradle

# build
/backend/bin/
/backend/build/

### local file ###
.env
restore.sql

# misc
.DS_Store
